.dashboardGrid {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    min-height: 100vh;
    max-height: 100vh;
    padding-top: 72px;
}


.dashboardSidebar {
    min-width: 248px;
}


.dashboardAside {
    /* min-width: 312px; */
    width: 322px;
    /* max-height: 88vh; */
    overflow-y: auto;
}
