.pageItemCreate {
    padding-top: 92px;
}

.formNovOglas input,
.formNovOglas textarea  {
    background-color: transparent;
}

.uploadImage {}
.uploadImageContainer {}
.uploadImageClear {
  display: none;
  opacity: .72;
}
.uploadImageClear:hover {
  opacity: .92;
}
.uploadImageContainer:hover .uploadImageClear {
  display: inline-block;
}