
.iconEditPost {
    opacity: .51;
    transition: transform .1s;
}
.iconEditPost:hover {
    opacity: .92;
    transform: scale(1.056);
}
.iconEditPost:active {
    opacity: 1;
    transform: scale(1.056);
}