.postCard {
  border-color: #d9230f52;
  position: relative;
}

.postView {
    top: .5em;
    right: .5em;
    position: absolute;
    width: 32px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.postCard:hover .postView {
    visibility: visible;
    opacity: .11;
    transform: scale(1);
    transition: opacity .24s, transform .11s;
}
.postCard:hover .postView:hover {
    opacity: .72;
    transform: scale(1.1);
}
.postCard:hover .postView:active {
    opacity: 1;
}
